
body{

    background-image: url('../static/images/Download-Movie-Template.jpg');
    height: 100vh;
     /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom_cont {
    padding: 0 100px 0 100px;
}

.wrapper_login{
    display:grid;
    padding: 100px 0 0 0;
    grid-template-columns: 65% 35%;

}

.wrapper_signup{
    display:grid;
    padding: 40px 0 0 50px;
    grid-template-columns: 65% 35%;

}

.wrapper_booknow{
    display:grid;
    padding: 50px 255px 0 255px;

}

.welcome {
    padding: 125px 50px 0 100px;
}

.welcome>ul>li {
    font-size: 1.4rem;
    line-height: 40px;
    margin-left: 30px;
    display: block;
    width: 500px;
}

ul>li {
    list-style-type: none;
    display: inline-block;
    width: 120px;
}

.welcome_title {
    display: inline-block;
    border: 2px solid white;
    border-radius: 44px;
    padding: 16px;
    background: #343a40;
    line-height: 32px;
    color: white;
    width: 500px;
    text-align: center;
}

.login_container {
    padding: 25px 50px 25px 50px;
    background-color: white;
    border: 2px solid black;
    box-shadow: -5px 5px 12px black;
}

.signup_container {
    padding: 25px 50px 25px 50px;
    background-color: white;
    /*background-color: #343a40;*/
    border: 2px solid black;
    box-shadow: -5px 5px 12px black;
}

.booknow_container {
    padding: 20px 50px 15px 50px;
    background-color: white;
    /*background-color: #343a40;*/
    border: 2px solid black;
    box-shadow: -5px 5px 12px black;
}

.movie_card {

    width: 1100px;
    height: 450px;
    margin-top: 20px;
    border: 2px solid black;
    box-shadow: -5px 5px 12px black;

}

.login {
    border-radius: 20px;
    width: 170px;
    margin: 0 auto;
    display: block;
    margin-top: 30px;
}

.email {
    margin-top: 10px;
}

.nav_bar{
    float: right;
}
.nav_bar button{
    background: #4FBDBA;
    border: 1px solid #b963e0;
    margin-right: 4px;
    font-weight: 500;
    border-radius: 5px;
    /*height:40px;*/
    text-align:center;
}
.nav-link{
    color:black;

}
.col-sm button{
    margin-top:10px;
    margin-bottom:10px;
    background-color: red;
}
.col-sm button:hover{
    background-color: green;
    border: 2px solid white;
}